{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item publication" itemscope itemtype="http://schema.org/CreativeWork">

    {% if post.image %}
      <a href="{{ post.image | relative_url }}" target="_blank">
        <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="pub-image">
      </a>
    {% endif %}

    <div class="pub-details">
      <h2 class="archive__item-title" itemprop="headline">
        <a href="{{ post.paperurl }}" target="_blank" rel="noopener">{{ post.title }}</a>
      </h2>

      {% if post.collection == 'publications' %}
        <p><em>{{ post.venue }}</em>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
      {% endif %}

      {% if post.excerpt %}
        <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
      {% endif %}
    </div>

  </article>
</div>
